// fonts
$fontMain: 'Montserrat', sans-serif;
$fontTitles: 'Roboto Condensed', sans-serif;



// fonts's size	
$fz16: 16px;
$fz18: 18px;
$fz20: 20px;
$fz28: 28px;
$fz30: 30px;



/*--------------------------------------------------
				Common Colors
---------------------------------------------------*/

$PhotoshopColor: rgba(0,23,33,1);
$IllustratorColor: rgba(33,11,0, 1);
$AEColor: rgba(25,0,62, 1);
$CinemaColor: rgba(19,29,98,1);

$mainBgColor: rgba(28, 40, 56, 1);
$mainFontColor: rgba(27, 27, 27, 1);

/*--------------------------------------------------
				Blog Page Colors
---------------------------------------------------*/


$mainPostColor: rgba(218, 228, 229, 0.8);
$fontPostColor: rgba(24, 61, 107,1);
$blueColor: rgba(172, 204, 221, 1);

