header.header
	.header-inner
		.grid
			.header__title
				include ../modules/_logo
			.header-content
				|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum debitis magnam praesentium sunt repellendus aut deserunt dolorem, provident placeat ullam eius odit, beatae, consequatur architecto libero asperiores eum eveniet. Placeat.
				.left  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla quia architecto esse optio doloremque similique, sapiente aliquam! 
				.right Esse sint, facere quo repudiandae consequatur perferendis porro qui ipsum alias fugit cupiditate!
			