.icon {
	display: inline-block;
	width: 15px;
	height: 15px;
	fill: #000000;
}
.i-illustrator {
	.illustrator-icon {
		fill: #700e8c;
	}	
}

.i-photoshop {
	.photoshop-icon {
		fill: #070033;
	}	
}

.i-pencil {
	background: #BB400B;
	.pencil-icon {
		fill: #E1C47E;
	}
}
.i-microphone {
	background: #082639;
	.microphone-icon {
		
		fill: #E1C47E;
	}
}
.i-video {
	background: #E1C47E;
	.video-icon {
		fill: #082639;
	}
}

.menu {
	&__icon {
		display: inline-block;
		width: 30px;
		height: 30px;
		fill: #082639;
	}
}